body {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.02em;
  background-color: rgba(255, 236, 203, 0.195);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: auto;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 450px;
  }
}
@media screen and (min-width: 790px) {
  .container {
    width: 760px;
  }
}
@media screen and (min-width: 1230px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (min-width: 790px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1230px) {
  .section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #000000;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover, .logo:focus {
  color: #033ab1;
}
@media screen and (min-width: 790px) {
  .logo {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 479px) {
  .logo__img {
    width: 50px;
  }
}

.logo__text {
  width: 115px;
  font-size: 14px;
  line-height: 1.2;
}
@media screen and (max-width: 789px) {
  .logo__text {
    display: none;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
@media screen and (min-width: 480px) {
  .nav__list {
    gap: 15px;
  }
}
@media screen and (min-width: 790px) {
  .nav__list {
    gap: 50px;
  }
}

.nav__link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Cormorant Garamond", serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  color: #000000;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #033ab1;
}
@media screen and (min-width: 480px) {
  .nav__link {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 790px) {
  .nav__link {
    font-size: 24px;
  }
}

.nav__link.active {
  color: #033ab1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.7);
            transform: translate(-50%, -50%) scale(0.7);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
            transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0.7);
            transform: translate(-50%, -50%) scale(0.7);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.7);
            transform: translate(-50%, -50%) scale(0.7);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
            transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0.7);
            transform: translate(-50%, -50%) scale(0.7);
  }
}
@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes swing {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@media screen and (min-width: 1230px) {
  .card-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 40px;
  }
}

.card-set__item {
  text-align: center;
}
@media screen and (min-width: 1230px) {
  .card-set__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: calc((100% - 80px) / 3);
        flex-basis: calc((100% - 80px) / 3);
  }
}

.card-set__box {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set__box:hover, .card-set__box:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 1230px) {
  .card-set__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.title {
  font-family: "Cormorant Garamond", serif;
  font-size: 40px;
}
@media screen and (min-width: 790px) {
  .title {
    font-size: 60px;
  }
}
@media screen and (min-width: 1230px) {
  .title {
    font-size: 70px;
  }
}

.title--secondary {
  color: #ffffff;
}

.text-content {
  line-height: 1.4;
}
@media screen and (max-width: 789px) {
  .text-content {
    font-size: 20px;
  }
}

.text-content--primary {
  color: #2c2c2c;
}

.text-content--secondary {
  color: #ffffff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  background-color: #1f2123;
}
@media screen and (max-width: 789px) {
  .footer {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 790px) {
  .footer__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer__logo .logo__img {
  width: 80px;
}

@media screen and (min-width: 790px) {
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    margin-left: 50px;
  }
}

@media screen and (max-width: 789px) {
  .footer__item:not(:last-child) {
    margin-bottom: 5px;
  }
}

.footer__link {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 1.2;
  color: #ffffff;
}
@media screen and (min-width: 480px) {
  .footer__link {
    font-size: 18px;
  }
}
@media screen and (min-width: 790px) {
  .footer__link {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.footer__link:active {
  color: black;
}
.footer__link:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 790px) {
  .footer__link:before {
    bottom: 7px;
  }
}
.footer__link:hover:before, .footer__link:focus:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.footer__icons-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3px;
}
@media screen and (min-width: 790px) {
  .footer__icons-wrap {
    margin-left: auto;
  }
}

.footer__icons {
  position: relative;
  width: 29px;
  height: 29px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}
.footer__icons:hover .footer__svg--visible, .footer__icons:focus .footer__svg--visible {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.footer__icons:hover .footer__svg--hidden, .footer__icons:focus .footer__svg--hidden {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.footer__icons:active .footer__svg--visible {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.footer__icons:active .footer__svg--visible {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.footer__svg {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  fill: #ffffff;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__svg--visible {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.footer__svg--primary {
  background-color: #033ab1;
}

.footer__svg--danger {
  background-color: #ca9e26;
}

.footer__svg--hidden {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.hero {
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 102, 255)), to(rgb(250, 255, 0)));
  background: linear-gradient(180deg, rgb(0, 102, 255) 0%, rgb(250, 255, 0) 100%);
}

.hero__overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

.hero__title {
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 790px) {
  .hero__title {
    margin-bottom: 40px;
    font-size: 70px;
  }
}
@media screen and (min-width: 1230px) {
  .hero__title {
    margin-bottom: 40px;
    font-size: 90px;
  }
}

.hero__animation {
  position: relative;
}

.hero__img {
  margin: 0 auto;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@media screen and (max-width: 789px) {
  .hero__img {
    width: 100px;
  }
}

.hero__link {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 11px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  color: inherit;
}
.hero__link:hover, .hero__link:focus {
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@media screen and (min-width: 790px) {
  .hero__link {
    font-size: 20px;
  }
}

.work__title {
  font-family: "Cormorant Garamond", serif;
  font-size: 25px;
  margin-bottom: 20px;
}
@media screen and (min-width: 790px) {
  .work__title {
    font-size: 37px;
  }
}

.work__text {
  margin-bottom: 20px;
  color: #2c2c2c;
}
@media screen and (max-width: 789px) {
  .work__text {
    font-size: 20px;
  }
}

.work__link {
  display: block;
  margin: auto 0 0 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: inherit;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work__link:hover, .work__link:focus {
  background-color: rgba(237, 237, 237, 0.5803921569);
}

.about {
  background-color: #3a8bff;
}
@media screen and (max-width: 1229px) {
  .about {
    text-align: center;
  }
}

@media screen and (min-width: 1230px) {
  .about__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1229px) {
  .about__wrap {
    margin-bottom: 40px;
  }
}

.about__title {
  margin-bottom: 20px;
}

@media screen and (min-width: 1230px) {
  .about__text-content {
    width: 515px;
  }
}

.about__img {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (max-width: 1229px) {
  .about__img {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1230px) {
  .about__img:hover, .about__img:focus {
    -webkit-animation-name: swing;
            animation-name: swing;
    -webkit-animation-duration: 1500ms;
            animation-duration: 1500ms;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
  }
}

.contacts {
  background-color: #3a8bff;
}
@media screen and (max-width: 1229px) {
  .contacts {
    text-align: center;
  }
}

@media screen and (min-width: 1230px) {
  .contacts__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 789px) {
  .contacts__wrap {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 790px) and (max-width: 1229px) {
  .contacts__wrap {
    margin-bottom: 30px;
  }
}

.contacts__title {
  margin-bottom: 10px;
}
@media screen and (min-width: 1230px) {
  .contacts__title {
    margin-bottom: 20px;
  }
}

.contacts__list .contacts__item:not(:last-child) {
  margin-bottom: 5px;
}

.contacts__text {
  max-width: 150px;
}

.contacts__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 1.2;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: rgb(202, 202, 202);
}
@media screen and (max-width: 789px) {
  .contacts__link {
    font-size: 20px;
  }
}

.contacts__icon {
  fill: rgb(47, 47, 47);
}

.contacts__frame {
  width: 100%;
  height: 250px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 480px) {
  .contacts__frame {
    height: 300px;
  }
}
@media screen and (min-width: 790px) {
  .contacts__frame {
    height: 450px;
  }
}
@media screen and (min-width: 1230px) {
  .contacts__frame {
    width: 600px;
  }
}/*# sourceMappingURL=style.css.map */