.footer {
  background-color: #1f2123;

  @include max-tablet() {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.footer__container {
  @include centered(flex, space-between, center);

  @include tablet() {
    justify-content: flex-start;
  }
}

.footer__logo .logo__img {
  width: 80px;
}
.footer__list {
  @include tablet() {
    display: flex;
    gap: 30px;

    margin-left: 50px;
  }
}
.footer__item {
  @include max-tablet() {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
.footer__link {
  position: relative;
  display: block;

  font-size: 18px;
  line-height: 1.2;
  color: $color-secondary;

  @include tablet() {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;

    display: block;

    width: 100%;
    height: 2px;

    border-radius: 4px;

    background-color: $color-secondary;

    transform: scale(0);

    transition: transform $transition;

    @include tablet() {
      bottom: 7px;
    }
  }

  &:hover:before,
  &:focus:before {
    transform: scale(1);
  }
}

.footer__icons-wrap{
  display: flex;
  gap: 3px;

  @include tablet() {
    margin-left: auto;
  }
}

.footer__icons {
  position: relative;
  width: 30px;
  height: 30px;
  display: inline-flex;

  overflow: hidden;

  &:hover .footer__svg--visible,
  &:focus .footer__svg--visible {
    transform: translateY(-100%);
  }

  &:hover .footer__svg--hidden,
  &:focus .footer__svg--hidden {
    transform: translateY(0);
  }
}

.footer__svg {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  fill: $color-secondary;

  transition: transform $transition;
}

.footer__svg--visible {
  transform: translateY(0);
}

.footer__svg--primary {
  background-color: $color-hover;
}

.footer__svg--danger {
  background-color: $color-accent-icon;
}

.footer__svg--hidden {
  transform: translateY(100%);
}
